{% extends "layout.html" %}
{% block title %}
    Settings
{% endblock %}

{% block main %}
        <div class="d-flex justify-content-center" style="margin-bottom: 20px;">
            <a href="/">Back to Home</a>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <form action="/settings" method="post">
            <div class="container" style="margin: 10px;">
                <div class="row justify-content-md-center" style="margin: 10px;">
                    <div class="col" style="text-align: end;">
                        Number of elevators:
                    </div>
                    <div class="col">
                        <input autocomplete="off" autofocus class="form-control" name="elevators" placeholder="Qty" type="number" min=1 max=4>
                    </div>
                </div>
                    <div class="row justify-content-md-center" style="margin: 10px;">
                        <div class="col" style="text-align: end;">
                            Number of floors:
                        </div>
                        <div class="col">
                            <input autocomplete="off" class="form-control" name="floors" placeholder="Qty" type="number" min=2 max=10>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center" style="margin: 10px;">
                    <button class="btn btn-primary" style="margin: 0px;" type="submit">Save</button>
                </div>
            </div>
        </form>
    </div>
  </body>
</html>
{% endblock %}
